
@{
    ViewBag.Title = "Danh sách từ đã lưu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="input-section">
    <div class="form-container container">
        <form action="" onsubmit="event.preventDefault();">
            <ul class="input-list d-flex">
                <li class="input-item mx-2">
                    <label for="searchTxt" class="input-label">Nhập từ cần tìm kiếm:</label>
                    <input type="text"
                           name="search"
                           id="searchTxt"
                           placeholder="Nhập từ cần tìm"
                           class="px-2 py-1" />
                </li>
                <li class="input-item mx-2">
                    <button class="btn btn-primary" id="btn-search">Tìm</button>
                </li>
            </ul>
        </form>
    </div>
</section>
<section class="output-section">
    <div class="container output-container">
        <h4>Các từ đã lưu:</h4>
        <ul class="output-list">
        </ul>
    </div>
</section>

@section Scripts{

    <script src="~/Scripts/script.js"></script>
}